.App {
    text-align: center;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .characters {
    list-style: none;
    padding-left: 0;
  }
  
  .characters li {
    overflow: hidden;
    display: inline-block;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  
  .wrapper {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
  }
  
  .animated-check {
    height: 2em;
    width: 1.5em
  }
  
  .animated-check path {
    fill: none;
    stroke: #fdfdfd;
    stroke-width: 4;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 0.3s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
  }
  
  @keyframes draw {
    to {
        stroke-dashoffset: 0
    }
  }
  
  .animated-cross {
    height: 2em;
    width: 1.5em
  }
  
  .animated-cross path {
    fill: none;
    stroke: #be0808f6;
    stroke-width: 4;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 0.3s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
  }
  
  .checkCorrect{
    position: fixed;
  }
  
  .zoom {
    transition: transform .2s; /* Animation */
    margin: -6px -7px;
    opacity: 0;
    animation: zoominoutsinglefeatured 2s ease-out ;
  }
  
  @keyframes zoominoutsinglefeatured {
    0%{
      transform: scale(1) rotate(0deg);
      opacity: 1;
     }
    100%{
    transform: scale(2) rotate(0.1deg);
    opacity: 0;
    }
     
  }
  
  .correct-letter{
    background: green !important;
  }
  